@import url(http://fonts.googleapis.com/css?family=Jura);
@import url(http://fonts.googleapis.com/css?family=Play);

svg {
  position: absolute;
  background-color: black;
}
#top_level {
  top:0px;
  height:0px;
  height:2000px;
  width:3800px;
}
#background_rect{
  top:0px;
  left:0px;
  fill:#222222;
  width:3700px;
  height:2000px;
}

/* DISPLAY BOX SIMPLE*/

.display_box_simple_container{
  alignment-baseline: hanging;
  stroke: white;
  stroke-width: 0px;
  top:0px;
  left:0px;
  z-index: 10;
  cursor: default;
}
.display_box_simple_active,
.display_box_simple_inactive,
.display_box_simple_attention{
  alignment-baseline: hanging;
  font-family: Jura;
  font-weight: lighter;
  font-size: 30px;
}
.display_box_simple_active{
  font-size: 30px;
  fill: #606060;
}
.display_box_simple_inactive{
  font-size: 26px;
  fill: #303030;
}
.display_box_simple_attention{
  font-size: 26px;
  fill: #303030;
}

/* DISPLAY BOX TITLE*/

.display_box_title_container{
  alignment-baseline: hanging;
  stroke: white;
  stroke-width: 0px;
  z-index: 10;
  cursor: default;
}
.display_box_title_active,
.display_box_title_inactive,
.display_box_title_attention{
  alignment-baseline: hanging;
  font-family: Jura;
  font-weight: lighter;
  font-size: 24px;
}
.display_box_title_active{
  fill: #606060;
}
.display_box_title_inactive{
  fill: #303030;
}
.display_box_title_attention{
  fill: #303030;
}

/* TOGGLE BUTTON */

.toggle_button_active,
.toggle_button_inactive,
.toggle_button_attention,
.toggle_button_async_true_requested,
.toggle_button_async_true_confirmed,
.toggle_button_async_fasle_requested,
.toggle_button_async_false_confirmed{
  alignment-baseline: hanging;
  font-family: Jura;
  font-weight: lighter;
  font-size: 30px;
}

.toggle_button_active{
  font-size: 30px;
  fill: #606060;
}
.toggle_button_inactive{
  font-size: 26px;
  fill: #303030;
}

.toggle_button_container{
  alignment-baseline: hanging;
  stroke: white;
  stroke-width: 0px;
  top:0px;
  left:0px;
  z-index: 10;
  cursor: default;
}

.text_1{
  alignment-baseline: hanging;
  font-family: Jura;
  stroke-width: .1px;
  stroke: #ffffff;
  fill: #ffffff;
  color: white;
}

/*
toggle_button_active
toggle_button_inactive
toggle_button_attention
toggle_button_async_true_requested
toggle_button_async_true_confirmed
toggle_button_async_fasle_requested
toggle_button_async_false_confirmed

toggle_button_container
*/

/* PANEL */

.panel_set_panel{
  top:50px;
  left:50px;
  width:3700px;
  height:1850px;
}
.panel_set_container{
  
}
/*
panel_set_panel
panel_set_button
grid_cell_simple
*/


.grid_cell_simple{
  alignment-baseline: hanging;
  stroke: white;
  stroke-width: .1px;
  top:0px;
  left:0px;
  height:32px;
  fill: #333333;
  z-index: 1;
  cursor: default;
  opacity: .6;
}




