


@import url(http://fonts.googleapis.com/css?family=Jura);
@import url(http://fonts.googleapis.com/css?family=Play);

svg {
  position: absolute;
}
#top_level {
  top:0px;
  height:0px;
  height:3800px;
  width:2100px;
}
#background_rect{
  top:0px;
  left:0px;
  fill:#222222;
  width:3800px;
  height:2100px;
}

.grid_title{
  font-family: Jura;
  font-weight: lighter;
  font-size: 20px;
  color:#ffffff;
  z-index: 10;
  alignment-baseline: hanging;
  stroke: white;
  opacity: 1.0;
}

.grid_cell_container{
  stroke: white;
  stroke-width: .1px;
  top:0px;
  left:0px;
  height:32px;
  fill: #333333;
  z-index: 1;
  cursor: default;
}

.grid_cell_box{
  stroke: white;
  stroke-width: .1px;
  top:0px;
  left:0px;
  height:32px;
  fill: #333333;
  z-index: 1;
  cursor: default;
  opacity: .5;
}

.grid_cell_box:hover {
  cursor: pointer;
  fill: #444444;
}


.grid_cell_text_active{
  stroke: white;
  stroke-width: 1px;
  stop-color: white;
  alignment-baseline: hanging;
  height:36px;
  font-family: Jura;
  font-weight: lighter;
  font-size: 16px;
  z-index: 10;
  opacity: 1.0;
}

.grid_cell_text_inactive{
  stroke: white;
  stroke-width: 1px;
  stop-color: white;
  alignment-baseline: hanging;
  height:36px;
  font-family: Jura;
  font-weight: lighter;
  font-size: 20px;
  z-index: 10;
  opacity: 1.0;
}

.panel_static{
  stroke: white;
  stroke-width: 2px;
  top:0px;
  left:0px;
  fill: #33ff33;
  z-index: 1;
  cursor: default;
  width:300px;
  height:200px;
}


